################################################################################
#
#  Author   : eustone
#
#  Revision : 2.0
#  Date     : 2021-11-08 14:00:00
#
################################################################################
#
# (C) COPYRIGHT ERICSSON GMBH 2019-2021
#
# The copyright to the computer program(s) herein is the property of
# Ericsson GmbH, Germany.
#
# The program(s) may be used and/or copied only with the written permission
# of Ericsson GmbH in accordance with the terms and conditions stipulated in
# the agreement/contract under which the program(s) have been supplied.
#
################################################################################

# ***************************************
# * General Information about this file *
# ***************************************

# This file is a template file showing all options that can be set when
# creating a configuration file to be used for a playlist extension file
# which is used for extending the DAFT playlist with new functionality
# that might be used e.g. as work arounds for a certain software release
# or functions that does not belong in the main playlist code for one
# reason or another.
#
# The name of the configuration file should be the same as the actual
# file that performs the playlist extension action which currently can
# be 'apply' when applying a playlist extension or 'undo' which is called
# when a previous applied playlist extension must be removed e.g. due to a
# fallback and cleanup.
# So if the file that performs the playlist extension action is called:
# Some_Special_Action.apply
# Then the configuration file must be placed in the same directory and
# called:
# Some_Special_Action.config
#
# If there are no special configuration parameters to be set for a
# playlist extension file then it is not neccessary to have a .config file.


# ********************
# * Command Handling *
# ********************

# COMMAND_PARAMETER
# -----------------
# To add one or more command parameters to the command file to be execute on
# the target node i.e. for target types "GEP-Linux", "DAFT" or "localhost"
# then uncomment the below line and add the parameter or parameters to be
# used when calling the command file on the target node.
#COMMAND_PARAMETER=


# ENVIRONMENT_VARIABLE
# --------------------
# If special environment variables should be set before executing a command
# file or loading a command file when using LOAD_AS_ONE_LINE_COMMANDS then
# uncomment the below line and add the environment variable to be set in
# name=value format e.g. ENVIRONMENT_VARIABLE=VAR1=VALUE1, if more than one
# environment variable needs to be set then add more lines.
# Only valid for target types "GEP-Linux", "DAFT" or "localhost".
#ENVIRONMENT_VARIABLE=


# TARGET_BLADE
# ------------
# If the commands should be executed on a specific target blade then uncomment
# the line below and add the blade where it should be execute.
# Only valid for target types "GEP-Linux".
# Allowed values for target blade are one of:
#   activecontroller
#   sc-1
#   sc-2
#   pl-3
#   pl-4
#   ..etc.
# NOTE: This parameters is only valid for DSC playlist extensions, SC does
# not currently use this parameter.
#TARGET_BLADE=


# LOAD_AS_ONE_LINE_COMMANDS
# -------------------------
# If the playlist extension file should be executed as individual commands
# instead of the default which is to execute the file on the target node as
# a script file then uncomment the following line.
#LOAD_AS_ONE_LINE_COMMANDS=yes


# IGNORE_ERRORS
# -------------
# To ignore any errors reported by the playlist extension file and treat
# the result as successful regardless of the return code, then uncomment
# the following line.
#IGNORE_ERRORS=yes


# ***************************************************
# * Filters when playlist extension will be applied *
# ***************************************************

# Filters can be used to control if a playlist extension should be
# applied or not for a certain software release.
# If no filters are set then the playlist extension will be applied.
# Previously used COMMERCIAL_RELEASE_NAME values are:
#   NDP1301_A, NDP1400_C, NDP1410, NDP1411, NDP1412, NDP1500_A, NDP1501,
#   NDP1600_A, NDP1620_A, NDP1700_A, NDP1710_A, NDP1711_A, 17B, NDP1811_A,
#   18A, 1.9, 1.10, 1.11
# Only supported OLD_COMMERCIAL_RELEASE_NAME are:
#   17B, NDP1811_A, 1.9, 1.10, 1.11 and later

# APPLY_OLD_RELEASE_VERSION
# -------------------------
# To apply the playlist extension when the old (current) software release
# before starting the upgrade match with a specified version or Perl regex
# then uncomment one of the following lines and make neccessary changes to
# the value.
# NOTE: This parameters is only valid for SC playlist extensions.
#APPLY_OLD_RELEASE_VERSION=1.6.0
#APPLY_OLD_RELEASE_VERSION=^1\.(5|6)\.\+\d+$


# APPLY_NEW_RELEASE_VERSION
# -------------------------
# To apply the playlist extension when the new software release after the
# upgrade or deploy match with a specified version or Perl regex
# then uncomment one of the following lines and make neccessary changes to
# the value.
# NOTE: This parameters is only valid for SC playlist extensions.
#APPLY_NEW_RELEASE_VERSION=1.6.0
#APPLY_NEW_RELEASE_VERSION=^1\.(5|6)\.\+\d+$


# IGNORE_OLD_RELEASE_VERSION
# -------------------------
# To ignore the playlist extension when the old (current) software release
# before starting the upgrade match with a specified version or Perl regex
# then uncomment one of the following lines and make neccessary changes to
# the value.
# NOTE: This parameters is only valid for SC playlist extensions.
#IGNORE_OLD_RELEASE_VERSION=1.6.0
#IGNORE_OLD_RELEASE_VERSION=^1\.(5|6)\.\+\d+$


# IGNORE_NEW_RELEASE_VERSION
# -------------------------
# To ignore the playlist extension when the new software release after the
# upgrade or deploy match with a specified version or Perl regex
# then uncomment one of the following lines and make neccessary changes to
# the value.
# NOTE: This parameters is only valid for SC playlist extensions.
#IGNORE_NEW_RELEASE_VERSION=1.6.0
#IGNORE_NEW_RELEASE_VERSION=^1\.(5|6)\.\+\d+$


# APPLY_OLD_COMMERCIAL_RELEASE_NAME
# ---------------------------------
# To apply the playlist extension when the old (current) software release
# before starting the upgrade match with a specified version or Perl regex
# then uncomment one of the following lines and make neccessary changes to
# the value.
# NOTE: This parameters is only valid for DSC playlist extensions.
#APPLY_OLD_COMMERCIAL_RELEASE_NAME=1.10
#APPLY_OLD_COMMERCIAL_RELEASE_NAME=^1\.(10|11)$


# APPLY_NEW_COMMERCIAL_RELEASE_NAME
# ---------------------------------
# To apply the playlist extension when the new software release after the
# upgrade or installation match with a specified version or Perl regex
# then uncomment one of the following lines and make neccessary changes to
# the value.
# NOTE: This parameters is only valid for DSC playlist extensions.
#APPLY_NEW_COMMERCIAL_RELEASE_NAME=1.10
#APPLY_NEW_COMMERCIAL_RELEASE_NAME=^1\.(10|11)$


# IGNORE_OLD_COMMERCIAL_RELEASE_NAME
# ----------------------------------
# To ignore the playlist extension when the old (current) software release
# before starting the upgrade match with a specified version or Perl regex
# then uncomment one of the following lines and make neccessary changes to
# the value.
# NOTE: This parameters is only valid for DSC playlist extensions.
#IGNORE_OLD_COMMERCIAL_RELEASE_NAME=1.10
#IGNORE_OLD_COMMERCIAL_RELEASE_NAME=^1\.(10|11)$


# IGNORE_NEW_COMMERCIAL_RELEASE_NAME
# ----------------------------------
# To ignore the playlist extension when the new software release after the
# upgrade or installation match with a specified version or Perl regex
# then uncomment one of the following lines and make neccessary changes to
# the value.
# NOTE: This parameters is only valid for DSC playlist extensions.
#IGNORE_NEW_COMMERCIAL_RELEASE_NAME=1.10
#IGNORE_NEW_COMMERCIAL_RELEASE_NAME=^1\.(10|11)$


# JOBTYPE
# -------
# To apply the playlist extension only for a specific Job Type then uncomment
# of of the below below.
#JOBTYPE=DEPLOY
#JOBTYPE=UPGRADE
