# Configuration file used for the system_health_check.pl script with the parameter --check_file=/path/to/file.config.
# It configures special settings for the health check.

variables: kpi_downtime_time_limit=120
variables: kpi_mps_tps_downtime_time_limit=30
variables: kpi_mps_tps_rate_threshold=50
