*.class
*.iml
*.jar
*.gz
*.tgz
*.zip
*.pmd
*.pyc
*.swp
*.user
*.srl

.classpath
.project
.config
dependency-reduced-pom.xml
artifact.properties

.pydevproject
.bazel
.bob/
.cache/
.gradle/
.idea/
.m2/
.settings/
.vertx/
build/
eclipse-workspace/
pkg/
out/
target/
test-output/
baseline_scripts/scripts/__pycache__/
/.metadata/
/.recommenders/
devtools/yang/*/bin/
helloKube/go/bin/
.certificates/
yang/

VERSION_INFO
COMMIT

fm-lib/src/main/java/com/ericsson/sc/fm/model/
lm-lib/src/main/java/com/ericsson/sc/lm/model/
pm-lib/src/main/java/com/ericsson/sc/pm/model/
esc/common/src/main/resources/com/ericsson/esc/services/cm/model/
envoyproxy/logfwdr/rxgrpc-envoy-control-api/src/main/proto/

envoyproxy/envoywrk/stdout-redirect/
old/petshop/.gradle/buildOutputCleanup/buildOutputCleanup.lock
old/petshop/.gradle/buildOutputCleanup/cache.properties
old/petshop/.gradle/buildOutputCleanup/outputFiles.bin

simulators/vtaprecorder/dtls/dtlsServer
simulators/vtaprecorder/dtls/go.mod
simulators/vtaprecorder/dtls/go.sum

**/configarchives/
