#                       Status            Event           Action         State Success     State Failure
Profile SBCustom one Rx StartStandby      TriggerRequest  SendInitMarked ClientWaitInitAns StartStandby
Profile SBCustom one Rx ClientWaitInitAns InitiateAnswer  NoActionSucc   StartStandby      StartStandby
Profile SBCustom one Rx ClientWaitInitAns TriggerRequest  NoActionSucc   StartStandby      StartStandby
Profile SBCustom one Rx StartStandby      InitiateAnswer  NoActionSucc   StartStandby      StartStandby
Profile SBCustom one Rx ClientWaitInitAns FailureAnswer   NoActionSucc   StartStandby      StartStandby

Client <encryption> <own-ip-4> pcf-diamhost.com pcf-diamrealm.com <target-service-ip-4>:<target-service-port> server source.client.realm.com NOP 0 0 0 PCRF
Client <encryption> <own-ip-4> af1-<own-pod-name> <af-diameter-realm> <target-service-ip-4>:<target-service-port> pcf-diamhost.com source.client.realm.com NOP <diameter-tps> 0 0 SB SBCustom 1 10.0.0.1 0815 64
Client <encryption> [<own-ip-6>]:0 pcf-diamhost6.com pcf-diamrealm6.com [<target-service-ip-6>]:<target-service-port> server source.client.realm.com NOP 0 0 0 PCRF
Client <encryption> [<own-ip-6>]:0 af6-<own-pod-name> <af-diameter-realm> [<target-service-ip-6>]:<target-service-port> pcf-diamhost6.com source.client.realm.com NOP <diameter-tps> 0 0 SB SBCustom 1 [2001:db8:abcd:0012::0] 0815 64
