#                       Status            Event           Action         State Success     State Failure
Profile SBCustom one Rx StartStandby      TriggerRequest  SendInitMarked ClientWaitInitAns StartStandby
Profile SBCustom one Rx ClientWaitInitAns InitiateAnswer  NoActionSucc   StartStandby      StartStandby
Profile SBCustom one Rx ClientWaitInitAns TriggerRequest  NoActionSucc   StartStandby      StartStandby
Profile SBCustom one Rx StartStandby      InitiateAnswer  NoActionSucc   StartStandby      StartStandby
Profile SBCustom one Rx ClientWaitInitAns FailureAnswer   NoActionSucc   StartStandby      StartStandby

#PCF
Client <encryption> <own-ip> <pcf-diameter-host> <pcf-diameter-realm> <target-service-ip>:<target-service-port> server source.client.realm.com NOP 0 0 0 PCRF
#AF
Client <encryption> <own-ip> af-<own-pod-name> <af-diameter-realm> <target-service-ip>:<target-service-port> <pcf-diameter-host> source.client.realm.com STR <diameter-tps> 0 0 SB SBCustom 1 10.0.0.1 0815 64
