useFullCfg: true
logshipper:
  cfgData: |
    filebeat.prospectors:
    - input_type: log
      paths:
        - /var/lib/docker/containers/**/*.log
      fields:
        logplane: parsedlogs
      fields_under_root: true
      tail_files: true
    output.logstash:
      hosts: '${LOGSTASH_HOSTS}'
    logging.level: info
    logging.metrics.enabled: false 
