<configuration>
	<contextListener
		class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>
	<!-- Enable JMX control -->
	<jmxConfigurator />
	<conversionRule conversionWord="pid"
		converterClass="com.ericsson.utilities.logger.ProcessIdConverter" />
	<conversionRule conversionWord="toSeverity"
		converterClass="com.ericsson.utilities.logger.ToSeverityConverter" />
	<conversionRule conversionWord="toJson"
		converterClass="com.ericsson.utilities.logger.ToJsonConverter" />

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">     <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>{"version":"1.1.0","timestamp":"%date{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}","service_id":"${SERVICE_ID}","severity":"%toSeverity(%level)","message":%toJson(jmxexporter[%pid]||%thread||%logger{30}||%L||%method||%msg)}%n
			</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
	<logger name="io.prometheus.jmx" level="INFO" />

</configuration>
