################################################################################
#
#  Author   : eustone
#
#  Revision : 1.4
#  Date     : 2024-03-06 18:11:27
#
################################################################################
#
# (C) COPYRIGHT ERICSSON GMBH 2023-2024
#
# The copyright to the computer program(s) herein is the property of
# Ericsson GmbH, Germany.
#
# The program(s) may be used and/or copied only with the written permission
# of Ericsson GmbH in accordance with the terms and conditions stipulated in
# the agreement/contract under which the program(s) have been supplied.
#
################################################################################

################################################################################
#
# This file contains DAFT job variable definitions which is used to control how
# the base stability traffic is configured with the DAFT Playlist
# 107_Traffic_Tools_Configure_And_Start.pm.
#
# Any placeholders <variable_name> will be replaced by the value of another DAFT
# job parameter value. For example <SC_NAMESPACE> will be replaced by the job
# variable $::JOB_PARAM{'SC_NAMESPACE'}.
# The place holder <BASE_DIR> is replaced by the directory where this file is
# stored or with the directory specified by the BASE_DIR job variable, if given.
#
################################################################################

#
# BSF Traffic
#
BSF_CONFIG_FILE=<BASE_DIR>/traffic_config/model_01/bsf_DT_Template.netconf
BSF_DSCLOAD_LOAD_SESSION_BINDINGS=yes
BSF_DSCLOAD_TRAFFIC_COMMAND=/opt/dsc-load/dsc_load
BSF_FETCH_SESSION_BINDING_DATA=no
BSF_K6_SCRIPT_FILE=<BASE_DIR>/traffic_scripts/model_01/k6/bsf_stability_test.js
BSF_K6_TRAFFIC_COMMAND=/usr/bin/k6 run /tests/bsf_stability_test.js --no-usage-report --insecure-skip-tls-verify -e KEY="/certs/K6.key" -e CERT="/certs/K6.crt" --vus=2 --rps 1000 --no-color --no-summary -e TIMEUNIT="1s" -e DURATION="<TRAFFIC_DURATION>s" --no-thresholds -e BSF_WORKER_PORT="443" -e NUMBER_OF_BINDINGS="50000" -e BSF_WORKER_IP=<eric_sc_values_anchor_parameter_VIP_SIG_BSF>
BSF_SIMULATOR_DSCLOAD_NEEDED=yes
BSF_SIMULATOR_K6_NEEDED=yes
BSF_SIMULATOR_NRFSIM_NEEDED=yes

#
# SCP Traffic
#
SCP_CONFIG_FILE=<BASE_DIR>/traffic_config/model_01/scp_DT_Template.netconf
SCP_K6_SCRIPT_FILE=<BASE_DIR>/traffic_scripts/model_01/k6/scp_stability_test.js
SCP_K6_TRAFFIC_COMMAND=/usr/bin/k6 run /tests/scp_stability_test.js --no-vu-connection-reuse=false -e SCP_HOST=scp.ericsson.se -e SCP_IP=<eric_sc_values_anchor_parameter_VIP_SIG_SCP> -e SCP_PORT=443 -e NAMESPACE=<SC_NAMESPACE> -e SR=10 -e PR=10 -e RR=20 -e MS_ADD=20 -e MS_MODIFY=20 -e MS_REMOVE=0 -e CERT="/certs/K6.crt" -e KEY="/certs/K6.key" --no-color --insecure-skip-tls-verify --vus 10 -e DURATION="<TRAFFIC_DURATION>s" -e RATE=1000 -e TIMEUNIT="1s" -e EGRESS_TLS_ENABLED=true --no-summary --no-thresholds
SCP_SIMULATOR_K6_NEEDED=yes
SCP_SIMULATOR_NRFSIM_NEEDED=yes
SCP_SIMULATOR_SEPPSIM_NEEDED=yes

#
# SEPP Traffic
#
SEPP_CONFIG_FILE=<BASE_DIR>/traffic_config/model_01/sepp_DT_Template.netconf
SEPP_K6_SCRIPT_FILE=<BASE_DIR>/traffic_scripts/model_01/k6/sepp_stability_test.js
SEPP_K6_TRAFFIC_COMMAND=/usr/bin/k6 run /tests/sepp_stability_test.js -e CERT=RP_206033.crt -e KEY=RP_206033.key -e RPS=1000 -e DURATION=<TRAFFIC_DURATION>s -e MAX_VUS=40 -e SEPP_IP=<eric_sc_values_anchor_parameter_VIP_SIG_SEPP> -e SEPP_HOST=sepp1.region1.sepp.5gc.mnc073.mcc262.3gppnetwork.org -e SEPP_PORT=443 -e TAR=http://nfudm1.region1.udm.5gc.mnc073.mcc262.3gppnetwork.org --insecure-skip-tls-verify --no-usage-report --no-summary --no-thresholds
SEPP_SIMULATOR_K6_NEEDED=yes
SEPP_SIMULATOR_NRFSIM_NEEDED=yes
SEPP_SIMULATOR_SEPPSIM_NEEDED=yes
SEPP_UPDATE_MANAGER_HOSTS_FILE=yes
